<nav class="nav-horizontal">
  <div class="row"> 
    <div class="col s12">
      <div class="nav_wrapper">
        <ul class="group">
          <li><a href="/proposals/my" class="logo"><img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/></a></li>
            {{#if user}}
            <li class="pull-right-sm"><a href="#" data-target="main-menu" class="sidenav-trigger show-on-small"><i class="fa fa-bars"></i></a></li>
            {{else}}
              {{!-- <li class="pull-right-sm">
                <a class = "btn red darken-1" href="/auth/google">
                <i class="fa fa-google left"></i>Login
                </a>
              </li> --}}
              
            {{/if}}
          
        </ul>  
        {{!-- Left Nav --}}
        <ul class="hide-on-small-only">
          {{#if user}} 
            <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
            <li><a href="/proposals/my" class="active">Proposals</a></li>
            <li><a href="/about" class="active">About</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          {{else}} 
          {{/if}}
        </ul>

        {{!-- side menu --}}
        <ul class="sidenav" id="main-menu">        
          {{#if user}}

          {{else}}
            <li>
              <a class = "btn red darken-1" href="/auth/google">
              <i class="fa fa-google left"> </i>Login With Google
              </a>
            </li>
            
          {{/if}}
          {{#if user}}
            <li class="logo-mobile"><div><img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/></div></li>
            <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
            <li><a href="/proposals/my" class="active">Proposals</a></li>
            <li><a href="/about" class="active">About</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          {{else}} 
          {{/if}}
        </ul> 
      </div>
    </div>
  </div>
</nav>