
  <div class="home">
    <div class="row"> 
      <div class="col s12">
        <h1 class="proposal_title">Welcome {{user.firstName}}</h1> 
      </div>
      <div class="col s12">
        {{!-- <p class="lead">Thank you for being one of our early Beta users. Here's a quick guide to get you started down your Byte Rights journey.</p> --}}
        <p class="lead">Thank you for being one of our early Beta users. If you haven't already, adding a company name to your profile will enable your client message to update and include your company name.</p>
      </div>
    </div>
  </div>
  <div class="grey-1">
    <div class="row">
      <div class="home_copy">
        <h3>User Details</h3>
      </div>
      <div class="col m6 s12">
        <h6><strong>First Name</strong></h6>
        <p>{{user.firstName}}</p>
        <h6><strong>Last Name</strong></h6>
        <p>{{user.lastName}}</p>
        <h6><strong>Company Name</strong></h6>
        <p>{{user.companyName}}</p>
        <h6><strong>Website</strong></h6>
        <a href="{{user.website}}"target="_blank">{{user.website}}</a>
      </div>
      <div class="col m6 s12">
        <h6><strong>Instagram</strong></h6>
        <p>{{user.instagram}}</p>
        <h6><strong>Facebook</strong></h6>
        <p>{{user.facebook}}</p>
        <h6><strong>Twitter</strong></h6>
        <p>{{user.twitter}}</p>
        <h6><strong>Youtube</strong></h6>
        <p>{{user.youtube}}</p>
        <h6><strong>Soundcloud</strong></h6>
        <p>{{user.soundcloud}}</p>
      </div>
    </div>
    <div>
      <a class="btn blue" href="dashboard/edit">Edit</a>
      {{#ifStripeAccountIdEqBlank user.stripeAccountId}}
      <a class="btn blue darken-2" href="stripe/authorize">Sign Up With Stripe</a>
      {{else}}
      <p>StripeAccountId: {{user.stripeAccountId}}</p>
      {{/ifStripeAccountIdEqBlank}}
    </div>
  </div>

