
  <div class="home" style="padding-top:15px">
    <div class="row"> 
      <div class="col s12">
        <h1 class="proposal_title center">Welcome {{user.firstName}}</h1> 
      </div>
      <div class="container">
        <div class="col s12 center">
          {{!-- <p class="lead">Thank you for being one of our early Beta users. Here's a quick guide to get you started down your Byte Rights journey.</p> --}}
          <p class="lead">Thank you for being one of our early Beta users. If you haven't already, adding a company name to your profile will enable your client message to update and include your company name.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container grey-1" style="padding:10px">
    <div class="row">
      <div class="home_copy">
        <h5>User Details</h5>
      </div>
      <div class="col m6 s12">
        <h6><strong>First Name</strong></h6>
        <p>{{user.firstName}}</p>
        <h6><strong>Last Name</strong></h6>
        <p>{{user.lastName}}</p>
        <h6><strong>Company Name</strong></h6>
        <p>{{user.companyName}}</p>
        <h6><strong>Website</strong></h6>
        <a href="{{user.website}}"target="_blank">{{user.website}}</a>
        <h6><strong>Default User Type</strong></h6>
        <p>{{user.contractUserType}}</p>
      </div>
      <div class="col m6 s12">
        <h6><strong>Instagram</strong></h6>
        <a href="{{user.instagram}}"target="_blank">{{user.instagram}}</a>
        <h6><strong>Facebook</strong></h6>
        <p>{{user.facebook}}</p>
        <h6><strong>Twitter</strong></h6>
        <p>{{user.twitter}}</p>
        <h6><strong>Youtube</strong></h6>
        <p>{{user.youtube}}</p>
        <h6><strong>Soundcloud</strong></h6>
        <p>{{user.soundcloud}}</p>
      </div>
    </div>
    <div>
      <a class="btn blue" href="dashboard/edit">Edit</a>
      {{#ifStripeAccountIdEqBlank user.stripeAccountId}}
      <a class="btn blue darken-2" href="stripe/authorize">Sign Up With Stripe</a>
      {{else}}
      <a class="btn blue darken-2" href="stripe/stripeDashboard">View Payouts on Stripe</a>
      <p>StripeAccountId: {{user.stripeAccountId}}</p>
      <p>BalanceAvailable: {{balanceAvailable}}</p>
      <p>BalancePending: {{balancePending}}</p>
      {{/ifStripeAccountIdEqBlank}}
    </div>
  </div>
{{!-- begin transaction history --}}
{{#if transactions}}
  <table class="striped">
    <thead>
      <tr>
        <th>BuyerId</th>
        <th>Buyer Last Name</th>
        <th>SellerId</th>
        <th>Seller Last Name</th>
        <th>ProposalId</th>
        <th>Amount Buyer Paid</th>
        <th>Amount Seller Received</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {{#each transactions}}
      <tr>
        <td>{{buyerId}}</td>
        <td>{{buyerLastName}}</td>
        <td>{{sellerId}}</td>
        <td>{{sellerLastName}}</td>
        <td>{{proposalId}}</td>
        <td>${{amountBuyerPaid}}</td>
        <td>${{amountSellerReceived}}</td>
        <td>{{formatDate created 'MMMM Do YYYY'}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created/received any transactions yet</p>
{{/if}}