
    <div class="grey-1">
        <h3>User Details</h3>
        <form class="proposal_add-wrapper" action="/dashboard/update/{{user.id}}?_method=PUT" method="post">
          <input type="hidden" name="_method" value="PUT"> 
          <div class="input-field">
            <input type="text" name="firstName" value = "{{user.firstName}}">
            <label for="url">First Name</label> 
          </div>
          <div class="input-field">
            <input type="text" name="lastName" value="{{user.lastName}}">
            <label for="recipient">Last Name</label>
          </div>
          <div class="input-field">
            <input type="text" name="companyName" value="{{user.companyName}}">
            <label for="recipient">Company Name</label>
          </div>
          <div class="input-field">
            <input type="text" name="website" value="{{user.website}}">
            <label for="recipient">Website</label>
          </div>
          <div class="input-field">
            <select class="ignore-select" name="contractUserType" value="{{user.contractUserType}}">
              <option value="seller">Seller</option>
              <option value="buyer">Buyer</option>
            </select>
            <label for="contractUserType">Default User Type</label>
          </div>
          <div class="input-field">
            <input type="text" name="instagram" value="{{user.instagram}}">
            <label for="recipient">Instagram</label>
          </div>
          <div class="input-field">
            <input type="text" name="facebook" value="{{user.facebook}}">
            <label for="recipient">Facebook</label>
          </div>
          <div class="input-field">
            <input type="text" name="twitter" value="{{user.twitter}}">
            <label for="recipient">Twitter</label>
          </div>
          <div class="input-field">
            <input type="text" name="youtube" value="{{user.youtube}}">
            <label for="recipient">Youtube</label>
          </div>
          
        <input type="submit" value="Save" class="btn primary">
        </form>
    </div>
