<div class="card">
  <div class="card-content">
    image: {{user.image}}
    firstName: {{user.firstName}}
    lastName: {{user.lastName}}
    email: {{user.email}}
    business: {{user.business}}

    {{!-- phone number:
    instagram username: --}}
  </div>
</div>


