<div class="proposal_wrapper">
  <div class="row">
    <div class="col"> 
      <div class="row proposal_topbar">
        <div class="col m2 s12">
          <h1 class="proposal_title">Submissions </h1>
        </div>
        <div class="col m8 s12" style="display: grid">
          <ul class="br_tabs tabs hide-on-small-only "> 
            <li class="tab col m2 s12"><a class="toggleRowClick active" href="#all">Submissions</a></li>
            <li class="tab col m3 s12"><a class="toggleRowClick" href="#accepted">Accepted</a></li>
            <li class="tab col m2 s12"><a class="toggleRowClick" href="#declined">Declined</a></li>
            <li class="tab col m2 s12"><a href="/offers/myOffers">Offers</a></li>
          </ul>
          <!-- Dropdown Trigger -->
          <div class="hide-on-med-and-up" style="display: grid;">
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Filter: <span id="mobileFilter">All</span></a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li><a class="toggleRowClick active" id="mobileAll" href="#all">Submissions</a></li>
              <li><a class="toggleRowClick" id="mobileAccepted" href="#accepted">Accepted</a></li>
              <li><a class="toggleRowClick" id="mobileDeclined" href="#declined">Declined</a></li>
              <li class="tab col m2 s12"><a href="/offers/myOffers">Offers</a></li>
            </ul>
          </div>
        </div>  
        <div class="col m2 s12" style="display: grid">
          <div class="proposal_title-wrapper">
            <a class="btn primary pull-right-md" style="display: grid;" href="/offers/addOffer">+ New Offer</a>
          </div>
        </div>
      </div> 
      {{!-- <div class="row">
        <div class="col m12 s12 gridonmobile" style="padding-bottom: 10px;">
          <div id='card' class="card" style="height: fit-content;margin: 0px !important">
            <select id="filteroffers" multiple class="select1 browser-default">
              {{#each tags}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div> 
      </div>  --}}
      <div class="row">
        <div class="col s12 hide-on-small-only">
          <div class="">
            <div class="proposal_filter">
              <div class="col m1 s12">
              </div>
              <div class="col m1 s12">
                <p>Prize</p>
              </div>
              <div class="col m2 s12">
                <p>Status</p>
              </div>
              <div class="col m2 s12">
                <p>Last Comment</p>
              </div>
              <div class="col m1 s12">
                <p>Created</p>
              </div>
              {{!-- <div class="col m1 s12">
                <p>Amount</p>
              </div> --}}
              {{!-- <div class="col m2 s12">
                Tags
              </div> --}}
              <div class="col m2 s12">
                Actions
              </div>
            </div>
          </div>
        </div>
      </div>
      <span id="proposalTable">
        <div class="proposal-row row" id="accepted">
          {{#each offers}}
            {{#ifEquals votes.[0].voteBody "Accept"}}
              <div class="col s12">
                <div class="">
                  <div class="proposal_item">
                    <div class="col m1 s12">
                      {{#if url}}
                      <img src="{{url}}media/?size=l" class="proposal_image" width="100%" alt="" />
                      {{else}}
                      <img src="{{user.image}}" width="100%" class="proposal_image">
                      {{/if}}
                    </div>
                    <div class="col m1 s12">
                      <p class="proposal-label hide-on-med-and-up">Prize</p>
                      <p>{{compensation}}</p>
                    </div>
                    <div class="col m2 s12">
                      <p class="proposal-label hide-on-med-and-up">Status</p>
                      <p>
                        {{status}}
                      </p>
                    </div>
                    <div class="col m2 s12">
                      <p class="proposal-label hide-on-med-and-up">Last Comment</p>
                      <p>
                        {{#if comments.[0].commentDate}}
                        {{formatDate comments.[0].commentDate 'MMMM Do YYYY, h:mm'}}
                        {{/if}}
                      </p>
                    </div>
                    <div class="col m1 s12">
                      <p class="proposal-label hide-on-med-and-up">Created</p>
                      <p>{{formatDate date 'MMMM Do YYYY'}}</p>
                    </div>
                    {{!-- <div class="col m1 s12">
                      <p class="proposal-label hide-on-med-and-up">Amount</p>
                      <p class="proposal-text">{{compensation}}{{price}}</p>
                    </div> --}}
                    {{!-- <div class="col m2 s12">
                      <p class="proposal-label hide-on-med-and-up">Tags</p>
                      <p class="proposal-text">
                        {{#each tag}}
                        <div class="chip">
                          {{this.text}}
                        </div>
                        {{/each}}
                      </p>
                    </div> --}}
                    <div class="col m2 s12">
                      <div class="row">
                        <div class="col m-auto s4">
                          <a class="proposal-btn btn grey" href="/offers/showSubmission/{{id}}"><i class="fa fa-eye"></i></a>
                        </div>

                        {{!-- <div class="col m-auto s4">
                        <form action="/offers/{{id}}?_method=DELETE" method="post" id="delete-form">
                          <input type="hidden" name="_method" value="DELETE">
                          <button type="submit" class="proposal-btn btn red"><i class="fa fa-remove"></i></button>
                        </form>
                      </div> --}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/ifEquals}} 
          {{/each }} 
        </div> 
        <div class="proposal-row row" id="declined">
          {{#each offers}}
            {{#ifEquals votes.[0].voteBody "Decline"}}
              <div class="col s12">
                <div class="">
                  <div class="proposal_item">
                    <div class="col m1 s12">
                      {{#if url}}
                      <img src="{{url}}media/?size=l" class="proposal_image" width="100%" alt="" />
                      {{else}}
                      <img src="{{user.image}}" width="100%" class="proposal_image">
                      {{/if}}
                    </div>
                    <div class="col m1 s12">
                      <p class="proposal-label hide-on-med-and-up">Prize</p>
                      <p>{{compensation}}</p>
                    </div>
                    <div class="col m2 s12">
                      <p class="proposal-label hide-on-med-and-up">Status</p>
                      <p>
                        {{status}}
                      </p>
                    </div>
                    <div class="col m2 s12">
                      <p class="proposal-label hide-on-med-and-up">Last Comment</p>
                      <p>
                        {{#if comments.[0].commentDate}}
                        {{formatDate comments.[0].commentDate 'MMMM Do YYYY, h:mm'}}
                        {{/if}}
                      </p>
                    </div>
                    <div class="col m1 s12">
                      <p class="proposal-label hide-on-med-and-up">Created</p>
                      <p>{{formatDate date 'MMMM Do YYYY'}}</p>
                    </div>
                    {{!-- <div class="col m1 s12">
                      <p class="proposal-label hide-on-med-and-up">Amount</p>
                      <p class="proposal-text">{{compensation}}{{price}}</p>
                    </div> --}}
                    {{!-- <div class="col m2 s12">
                      <p class="proposal-label hide-on-med-and-up">Tags</p>
                      <p class="proposal-text">
                        {{#each tag}}
                        <div class="chip">
                          {{this.text}}
                        </div>
                        {{/each}}
                      </p>
                    </div> --}}
                    <div class="col m2 s12">
                      <div class="row">
                        <div class="col m-auto s4">
                          <a class="proposal-btn btn grey" href="/offers/showSubmission/{{id}}"><i class="fa fa-eye"></i></a>
                        </div>

                        {{!-- <div class="col m-auto s4">
                        <form action="/offers/{{id}}?_method=DELETE" method="post" id="delete-form">
                          <input type="hidden" name="_method" value="DELETE">
                          <button type="submit" class="proposal-btn btn red"><i class="fa fa-remove"></i></button>
                        </form>
                      </div> --}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/ifEquals}} 
          {{/each }} 
        </div> 
        <div class="proposal-row active row" id="all">
          {{#each offers}} 
            <div class="col s12">
              <div class="">
                <div class="proposal_item">

                  <div class="col m1 s12">
                    {{#if url}}
                    <img src="{{url}}media/?size=l" class="proposal_image" width="100%" alt="" />
                    {{else}}
                    <img src="{{user.image}}" width="100%" class="proposal_image">
                    {{/if}}
                  </div>
                  <div class="col m1 s12">
                    <p class="proposal-label hide-on-med-and-up">Prize</p>
                    <p>{{compensation}}</p>
                  </div>
                  <div class="col m2 s12">
                    <p class="proposal-label hide-on-med-and-up">Status</p>
                    <p>
                      {{status}}
                    </p>
                  </div>
                  <div class="col m2 s12">
                    <p class="proposal-label hide-on-med-and-up">Last Comment</p>
                    <p>
                      {{#if comments.[0].commentDate}}
                      {{formatDate comments.[0].commentDate 'MMMM Do YYYY, h:mm'}}
                      {{/if}}
                    </p>
                  </div>
                  <div class="col m1 s12">
                    <p class="proposal-label hide-on-med-and-up">Created</p>
                    <p>{{formatDate date 'MMMM Do YYYY'}}</p>
                  </div>
                  {{!-- <div class="col m1 s12">
                    <p class="proposal-label hide-on-med-and-up">Amount</p>
                    <p class="proposal-text">{{compensation}}{{price}}</p>
                  </div> --}}
                  {{!-- <div class="col m2 s12">
                    <p class="proposal-label hide-on-med-and-up">Tags</p>
                    <p class="proposal-text">
                      {{#each tag}}
                      <div class="chip">
                        {{this.text}}
                      </div>
                      {{/each}}
                    </p>
                  </div> --}}
                  <div class="col m2 s12">
                    <div class="row">
                      <div class="col m-auto s4">
                        <a class="proposal-btn btn grey" href="/offers/showSubmission/{{id}}"><i class="fa fa-eye"></i></a>
                      </div>

                      {{!-- <div class="col m-auto s4">
                      <form action="/offers/{{id}}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="proposal-btn btn red"><i class="fa fa-remove"></i></button>
                      </form>
                    </div> --}}
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            {{else}}
            
            <div>
              <div class="center-align" style="padding:20px;">
                  <h5>You don't have any offers yet! To get started follow these steps:</h5>
              </div>
              <div style="padding:5px 10%;">
                  <div class= "center-align" style="padding:15px;background-color:#B6E9FF;border-radius:5px;box-shadow:2px 2px 5px grey;">
                      <table>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="far fa-copy fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  Copy the link to a photo you would like to create an offer for.
                              </div>
                          </td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="far fa-list-alt fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  Create an offer to license the picture by pasting the link and answering a few questions.
                              </div>
                          </td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="far fa-paper-plane fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  Share the offer with the buyer or seller with a simple link.
                              </div>
                          </td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="fas fa-envelope-open-text fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  Recipient opens the link and reviews the terms of the proposal.
                              </div>
                          </td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="fas fa-check fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  The recipient accepts the terms of the licensing agreement.
                              </div>
                          </td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="far fa-file-alt fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  Contract is generated for both parties and a public version is made available for reference.
                              </div>
                          </td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="fas fa-dollar-sign fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  Any compensation is collected and added to the seller’s balance.
                              </div>
                          </td>
                          <td width="10%" class="center-align">Coming Q1, 2020</td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="fas fa-upload fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  The seller can upload the original, high-resolution file to our platform.
                              </div>
                          </td>
                          <td width="10%" class="center-align">Coming Q1, 2020</td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="fas fa-sync-alt fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  Payment and photo file will be released simultaneously once both parties approve.
                              </div>
                          </td>
                          <td width="10%" class="center-align">Coming Q1, 2020</td>
                      </tr>
                      <tr style="border-bottom:0px;">
                          <td width="15%" class="center-align" style="color:white;text-shadow:2px 2px 2px grey;"><i class="fas fa-download fa-3x"></i></td>
                          <td width="55%" style="padding:10px;">
                              <div style="padding:10px;background-color:rgb(255, 255, 255);border-radius:5px;box-shadow:2px 2px 5px grey;">
                                  The buyer can download the picture directly from the platform.
                              </div>
                          </td>
                          <td width="10%" class="center-align">Coming Q1, 2020</td>
                      </tr>
                      </table>
                  </div>
                  <br>
                  <br>
              </div>
          </div>
          {{/each }} 
        </div> 
      </span>
    </div>
  </div>
</div>