<div class="proposal_wrapper--add">
  <div class="row">
    <div class="col s12">
      <div class="proposal_topbar">
        <div class="col m6 pull-m6 s12">
          <h1 class="proposal_title">Edit Proposal</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12">
      <form class="proposal_add-wrapper" action="/proposals/{{proposal.id}}?_method=PUT" method="post"
        id="editproposal">
          <input type="hidden" name="_method" value="PUT">
          <label>Image Link</label>
          <div class="input-field">
            <input type="text" name="url" value="{{proposal.url}}" required>
            
          </div>

          <div class="input-field">
            <select class="ignore-select" name="contractUserType">
              <option value="seller">Seller</option>
              <option value="buyer">Buyer</option>
            </select>
            <label for="contractUserType">Contract User Type</label>
          </div> 
          
          <label>Recipient Name</label>
          <div class="input-field">
            <input type="text" name="recipient" value="{{proposal.recipient}}" required>
            
          </div>
          <p>Describe how and where you plan to use the photo.</p>
          <div class="input-field">
            <input type="text" name="usage" value="{{proposal.usage}}" placeholder="i.e. Instagram, Website, Print, etc.">
          </div>
          {{!-- <div class="input-field">
            <select name="status">
              {{#select proposal.status}}
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
                <option value="unpublished">Unpublished</option>
              {{/select}}
            </select>
            <label for="status">Status</label>
          </div>   --}}
          <p>
            <p>Will the creator be mentioned when the photo is used?</p>
            <p>
          <label>Credit</label>
          <div class="switch">
            <label>
            No
            <input type="checkbox" name="credit" id="credit" checked="checked">
            <span class="lever"></span>
            Yes
            </label>
          </div>
          </p>
          </p>
          <p>
          <label>Comments</label>
          <div class="switch">
            <label>
            Off
            <input type="checkbox" name="allowComments" id="allowComments" {{#if proposal.allowComments}} checked="checked" {{/if}}>
            <span class="lever"></span>
            On
            </label>
          </div>
          </p>
          {{!-- <div class="input-field">
            <p>
              <label for="allowComments">
                <input type="checkbox" name="allowComments" class="filled-in" id="allowComments"
                  {{#if proposal.allowComments}} checked="checked" {{/if}} />
                <span>Allow Comments</span>
              </label>
            </p>
          </div> --}}
          <p>How would you like the photo to be compensated?</p>
          <div class="input-field">
            <input type="text" name="compensation" value="{{proposal.compensation}}">
          </div>
          <p>If cash, how much?</p>
          <div class="input-field">
            <input type="text" name="price" value="{{proposal.price}}">
          </div>
          <label>Tags</label>
          <div class="input-field">
            <input type="text" data-role="materialtags" name="tags" value="{{tag}}" id="tags">
            {{!-- <label for="tags">Tags</label> --}}
            <div id="suggesstion-box" style="border: 1px solid black;
                    padding: 9px 10px 4px;
                    margin-bottom: 15px;
                    display:none"><span id="suggesstion-inner"></span></div>
            {{#if tags}}
            Recent tags: <br />
            {{/if}}
            {{#each tags}}
            {{#if this}}
            <div class="chip recenttags" for="tags" style="cursor: pointer">
              {{this}}
            </div>
            {{/if}}
            {{/each}}
          </div>
          {{!-- text area input-field --}}
          {{!-- <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="offerMessage">Textarea</label>
          </div> --}}
          {{!-- text area end input field --}}
          <input type="button" value="Save" class="btn primary" onclick="$('#editproposal').submit()">
          <button data-target="deleteModal" class="btn red modal-trigger">Delete</button>
      </form>
      {{!-- delete button --}}
    </div>
  </div>
</div>

<div id="deleteModal" class="modal modal-fixed-footer">
    <div class="modal-content">
    <p>Are you sure you want to delete this proposal? The trash goblins will never give it back!</p>
    <div class="modal-footer">
      <form action="/proposals/{{proposal.id}}?_method=DELETE" method="post" id="delete-form">
        <input type="hidden" name="_method" value ="DELETE">
        <button type="submit" class="btn red"><i class="fa fa-remove"></i>Delete</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </form>
      {{!-- <form class="proposal_add-wrapper" method="post" action="/proposals/voteUser/{{proposal.id}}">
        <div>
          <input name="voteBody" type="submit" value="Accept" class="btn green lighten-1">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </form> --}}
    </div>
  </div>

<script>
//  modal logic materialize 
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
      var instances = M.Modal.init(elems);
    });
</script>