<div class="proposal_wrapper--add">
  <div class="row">
    <div class="col s12">
      <div class="proposal_topbar">
        <div class="col m6 pull-m6 s12">
          <h1 class="proposal_title">Insta Exchange</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12">
      <form class="proposal_add-wrapper" action="/proposals/exchange/new" method="post" id="newproposal">
      {{!-- <form class="proposal_add-wrapper" action="/proposals/{{proposal.id}}?_method=PUT" method="post"
        id="editproposal" onsubmit="return checkForm(this);"> --}}
          {{!-- <input name="_method" value="PUT"> --}}
          <label>Image Link</label>
          <div class="input-field">
            <input type="text" name="url" value="{{proposal.url}}" required>
            
          </div>

          {{!-- <div class="input-field" type = "hidden">
            <select type="hidden" class="ignore-select" name="contractUserType">
              <option value="Seller">Seller</option>
              <option value="Buyer">Buyer</option>
            </select>
            <label type="hidden" for="contractUserType">Contract User Type</label>
          </div>  --}}
          
          <label>Recipient Name is successfully hidden</label>
          <div class="input-field">
            <input type="hidden" name="recipient" value="{{proposal.recipient}}">
            
          </div>
          <label>Og Owner</label>
          <div class="input-field">
            <input type="text" name="recipient" value="{{proposal.user}}" readonly>
            
          </div>


          <p>Below is how we plan to use the photo.</p>
          <div class="input-field">
            <input type="text" name="usage" value="{{proposal.usage}}" placeholder="i.e. Instagram, Website, Print, etc." readonly>
          </div>
          {{!-- <div class="input-field">
            <select name="status">
              {{#select proposal.status}}
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
                <option value="unpublished">Unpublished</option>
              {{/select}}
            </select>
            <label for="status">Status</label>
          </div>   --}}
          <div class="input-field">
            <p>Will the creator be mentioned when the photo is used</p>
            <input type="text" name="credit" id="credit" value={{proposal.credit}} readonly>
          </div>

          {{!-- <label>Comments</label>
          {{!-- <div class="switch">
            <label>
            Off
            <input type="checkbox" name="allowComments" id="allowComments" {{#if proposal.allowComments}} checked="checked" {{/if}}>
            <span class="lever"></span>
            On
            </label>
          </div>
          </p> --}}
          {{!-- <div class="input-field">
            <p>
              <label for="allowComments">
                <input type="checkbox" name="allowComments" class="filled-in" id="allowComments"
                  {{#if proposal.allowComments}} checked="checked" {{/if}} />
                <span>Allow Comments</span>
              </label>
            </p>
          </div> --}}
          <p>How will you be compensated?</p>
          <div class="input-field">
            <input type="text" name="compensation" value="{{proposal.compensation}}" readonly>
          </div>
          <input type="button" value="Submit" class="btn primary" onclick="$('#newproposal').submit()">
      </form>
    </div>
  </div>
</div>

<script>
//  modal logic materialize 
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
      var instances = M.Modal.init(elems);
    });

</script>