<div class="proposal_wrapper"> 
  <div class="row">
    <div class="col s12">
      <div class="proposal_topbar"> 
        <div class="col s2">        
          <h1 class="proposal_title">Proposals</h1> 
        </div>
        <div class="col s7">  
          <ul class="br_tabs tabs">
            <li class="tab col s2"><a href="#test1">All</a></li>
            <li class="tab col s2"><a class="active" href="#test2">Sent</a></li> 
            <li class="tab col s3"><a href="#test4">Accepted</a></li>
            <li class="tab col s2"><a href="#test5">Declined</a></li>
          </ul>
        </div> 
        <div class="col s3">       
          <div class="proposal_title-wrapper">
            <a class="btn primary pull-right" href="/proposals/add">+ New Proposal</a>
          </div>
        </div>  
      </div>
    </div>    
    <div class="col s12">
      <div class="row">
        <div class="proposal_filter"> 
          <div class="col s1">
          </div> 
          <div class="col s2"> 
            <p>Recipient</p>
          </div>
          <div class="col s24"> 
            <p>Last Activity</p>
          </div>   
          <div class="col s2">
            <p>Amount</p>
          </div>
          <div class="col s5">
            <p></p>
          </div>  
        </div>  
      </div>
    </div>
    {{#each proposals}}
    <div class="col s12">
      <div class="row">
        <div class="proposal_item">
          <div class="col s1">  
            {{#if url}}
              <img src="{{url}}media/?size=l" class="proposal_image" width="100%" alt=""/>
            {{else}}
              <img src="{{user.image}}" width="100%" class="proposal_image">
            {{/if}} 
          </div> 
          <div class="col s2"> 
            <p><a href= "/proposals/user/{{proposal.recipient}}">{{proposal.recipient}}</a></p>
          </div>
          <div class="col s2"> 
            <p>2 days ago</p>
          </div> 
          <div class="col s2">
            <p class="proposal-text">{{stripTags (truncate compensation 150)}}</p>
          </div>
          <div class="col s5 push-right">
            <div class="row">
              <div class="col">
                <a class="btn grey" href="/proposals/show/{{id}}">View</a>
              </div>
              <div class="col">
                <a class="btn left-align" href="/proposals/edit/{{id}}"><i class="fa fa-pencil"></i> Edit</a>
              </div>
              <div class="col">
                <form action="/proposals/{{id}}?_method=DELETE" method="post" id="delete-form">
                  <input type="hidden" name="_method" value ="DELETE">
                  <button type="submit" class="btn red"><i class="fa fa-remove"></i>Delete</button>
                </form>
              </div>
            </div>
            
          </div> 
        </div> 
      </div>
    </div>
    {{else}}
      <p>No proposals found</p>
    {{/each }}
  </div>
</div>