<div class="proposal_wrapper--add">
  <div class="row no-margin--bottom">
    <div class="proposal_topbar">
      <table style="border:0px;">
        <tr style="border-bottom:0px;">
          <td width="90%" style="padding: 0px 0px 0px 10px;"><h1 class="proposal_title">Instagram Submission</h1></td>
          {{!-- <td class="left-align" width="10%" style="padding:0px 15px 0px 0px;"><button data-target="helpModal" class="btn-floating grey modal-trigger">?</button></td> --}}
        </tr>
      </table>
    </div>
      <div class="row" style="margin-bottom: 10px">
        <div class="col s12">
          From: <b>{{proposal.igUsername}}</b> | Status: <b style="color:hotpink;">{{proposal.status}}</b>
        </div>
      </div>
  </div>
  <div class="row no-margin--bottom">
    <div class="proposal_show-content alternate">
      <div class="col m6 s12">
        {{!-- <div class="card">
          <div class="card-content">
            <p>hey there if you would like to share this offer with people send the link below!!</p>
            <p><a class="word-break" href="{{proposal.id}}" target="_blank">byterights.com/proposals/createSubmission/{{proposal.id}}</a></p>
          </div>
        </div> --}}

        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">You did it! Thanks for participating!</span>
              <p>When you log back into ByteRights we will have your Submission waiting for you</p>
              {{#ifEqualsElse proposal.redemptionInstructions ""}}

              {{else}}
              <br>
                <span class="card-title">Redemption Instructions</span>
                <p>{{proposal.redemptionInstructions}}</p>
              {{/ifEqualsElse}}
              
                {{#if user}}
                  {{#ifEqualsElse proposal.status "Redeemed"}}

                  {{else}}
                    {{!-- add if proposal.status = approved display redeem --}}
                    <br>
                    <button data-target="redeemModal" class="btn green modal-trigger">Redeem</button>

                  {{/ifEqualsElse}}
                {{else}}
                  <button data-target="modalLogin" class="btn blue modal-trigger">Login</button>
                {{/if}}
                <br>
                <a href="/proposals/terms/{{proposal.id}}" target="_blank">Terms and Conditions</a>

              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title">Tell Your Friends!</span>
            <p>If you would like to share this offer with people send the link below!! Put it in your Bio, get it tatted on your back; share it wherever you like! You can always just send it in a text ;)</p>
            <p><a class="word-break" href="../createSubmission/{{proposal.ogProposalId}}" target="_blank">byterights.com/proposals/createSubmission/{{proposal.ogProposalId}}</a></p>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title">What You Need to Know</span>
            <p>This is an agreement for the right to the referenced image. Here are the important details:</p><br>
            <p class="proposal-label">You will be compensated with</p>
              <p>{{proposal.compensation}}</p>
            <p class="proposal-label">Below is how we plan to use this photo.</p>
              <p>{{proposal.usage}}</p>
            <p class="proposal-label">Will the creator be mentioned when this photo is used</p>
              {{#if proposal.credit}}
              <p>Yes</p>
              {{else}}
              <p>No</p>
              {{/if}}
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title">Comments</span>
              {{#if user}}
                <form method="post" action="/proposals/commentSubmission/{{proposal.id}}">
                  <div class="input-field">
                    <textarea name="commentBody" class="materialize-textarea"></textarea>
                    <label>Add Comment</label>
                  </div>
                  <input type="submit" value="Submit" class="btn blue">
                </form>
              {{else}}
                <p>Please login if you would like to leave a comment or
                  accept the offer.
                </p>
              {{/if}}
              {{!-- {{else}}
              <p>Please <a href="/auth/google">login</a> if you would like to accept/decline the offer.</p> --}}
              {{!-- </div> --}}
              {{#if proposal.comments}}
              <div class="card-content">
                {{#each proposal.comments}}
                <br>
                {{!-- <div class="chip">
                  <img src="{{commentUser.image}}">
                  <a href="/proposals/user/{{commentUser.id}}">{{commentUser.firstName}} {{commentUser.lastName}}</a>
                </div> --}}
                <p>{{commentBody}}</p>
                <small>Posted: {{formatDate commentDate 'MMMM Do YYYY, h:mm'}} </small>
                <br>
                {{/each}}
              </div>
              {{/if}}
          </div>
        </div>
      </div>

      <div class="col m6 s12">
        {{!-- the div below this is carries the embed code for the instagram post --}}
        <div class="card">
          <div class="card-image">
            <a href="{{proposal.url}}media/?size=l"><img src="{{proposal.url}}media/?size=l" alt="" /></a>
          </div>
          {{!-- <div class="card-content">
            <p>
              {{#each proposal.tag}}
              <div class="chip">
                {{this.text}}
              </div>
              {{/each}}
            </p>
          </div> --}}
        </div>
        <a href="{{proposal.url}}">{{proposal.url}}</a>
      </div>
    </div>
</div>

<!-- Modal Login Structure-->
<div id="modalLogin" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class= "center-align">
    <h4>Please Login</h4>

      <a class = "btn red darken-1" href="/proposals/createSubmissionGClient/{{proposal.id}}">
        <i class="fab fa-google left"></i>Login with Google
      </a>
      <br>
      <br>
      <a class = "btn blue darken-1 row center-align" href="/proposals/createSubmissionFBClient/{{proposal.id}}">
        <i class="fab fa-facebook-f left"></i>Login with Facebook
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Modal Login Structure-->
<div id="redeemModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class= "center-align">
    <h6>Be sure you want to redeem this giveaway, once it has been redeemed it can't be redeemed again</h6>

    </div>
  </div>
  <div class="modal-footer">
      <form class="proposal_add-wrapper" style="margin-top: 0px;" method="post" action="/proposals/redeemSubmission/{{proposal.id}}">
        <div>
          <input name="voteBody" type="submit" value="Redeem" class="btn green">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </form>
  </div>
</div>


<script>
//  modal logic materialize 
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
      var instances = M.Modal.init(elems);
    });

</script>
{{!-- 
http://localhost:5000/proposals/createSubmission/5e34853aa5b91f9c142193a8 
--}}

