<div class="row">
  <div class="col-md-6">
    {{!-- <div class="card card-body"> --}}
      <h3 class="text-center">Account Register</h3>
      <form action="/auth/local/register" method="post">
        <div class="input-field">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" required name="firstName" value="{{firstName}}">
        </div>
        <div class="input-field">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" required name = "lastName" value="{{lastName}}">
        </div>
        <div class="input-field">
          <label for="email">Email</label>
          <input type="text" class="form-control" required name="email" value="{{email}}">
        </div>
        <div class="input-field">
          <label for="password">Password</label>
          <input type="text" class="form-control" required name="password" value="{{password}}">
        </div>
        <div class="input-field">
          <label for="password2">Confirm Password</label>
          <input type="text" class="form-control" required name="password2" value="{{password2}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {{!-- </div> --}}
  </div>
</div>